<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, size: Settings.avatar_size_default %>
        <%= @user.name %>
        <span><%= @user.email %></span>
      </h1>
    </section>
  </aside>
</div>
