<div class="row">
  <div class="col-md-8 col-offset-2">
    <ul class="all-subjects">
      <% @subjects.each do |subject| %>
        <p class="subject-title"><%= subject.title %></p>
        <p><%= subject.description %></p>
      <% end %>
    </ul>
  </div>
</div>
<div class="text-center">
  <%= will_paginate %>
</div
