<div class="row">
  <div class="col-md-8 col-offset-2">
    <% if logged_in? %>
      <ul class="all-subjects">
        <% @subjects.each do |subject| %>
          <p class="subject-title"><%= link_to subject.title,subject %></p>
          <p><%= subject.description %></p>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<div class="text-center">
  <%= will_paginate %>
</div
