<div class="row">
  <div class="col-md-8 col-offset-2">
    <ul class="all-courses">
      <% @courses.each do |course| %>
        <p class="course-name"><%= course.name %></p>
        <p><%= course.description %></p>
      <% end %>
    </ul>
  </div>
</div>
