<div class="row">
  <div class="col-md-8 col-offset-2">
    <ul class="all-courses">
      <p class="course-name"><%= @course.name %></p>
      <p><%= @course.description %></p>
      <%= link_to t("admin.delete_course"), "#" %>
    </ul>
  </div>
</div>
